<section class="card login">
	<form name="myform" ng-submit="login()" novalidate>
		
		<div class="textintro">
			<h1>Hi there!</h1>
			<p>Log in to access the site.</p>
			<p class="message" ng-show="message">{{ message }}</p>
			<!-- <p>Pristine? {{ myform.email.$pristine }}</p>
			<p>Touched? {{ myform.email.$touched }}</p>
			<p>Valid? {{ myform.email.$valid }}</p>
			<p>Dirty? {{ myform.email.$dirty }}</p> -->
		</div>

		<fieldset>
			<input type="email" name="email" placeholder="email" ng-model="user.email" ng-required="true">
			<p class="error validationerror" ng-show="myform.email.$touched && myform.email.$invalid">Must be a valid email address</p>
			<input type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true">
			<p class="error validationerror" ng-show="myform.password.$touched && myform.password.$invalid">Password is required</p>
		</fieldset>

		<button type="submit" class="btn" ng-disabled="myform.$invalid">Log In</button>
		<p>or <a ng-href="#!/register">register</a></p>

	</form>
</section>